/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SDKCore } from "../core.js";
import {
  encodeFormQuery as encodeFormQuery$,
  encodeJSONQuery as encodeJSONQuery$,
  queryJoin as queryJoin$,
} from "../lib/encodings.js";
import * as m$ from "../lib/matchers.js";
import * as schemas$ from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKError } from "../models/errors/sdkerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { Result } from "../types/fp.js";

/**
 * Get an embed access token for the current workspace.
 *
 * @remarks
 * Returns an embed access token for the current workspace. This can be used to authenticate access to externally embedded content.
 * Filters can be applied allowing views to be filtered to things like particular customerIds.
 */
export async function embedsGetEmbedAccessToken(
  client$: SDKCore,
  description?: string | undefined,
  duration?: number | undefined,
  filters?: components.Filters | undefined,
  options?: RequestOptions,
): Promise<
  Result<
    operations.GetEmbedAccessTokenResponse,
    | SDKError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  const input$: operations.GetEmbedAccessTokenRequest = {
    description: description,
    duration: duration,
    filters: filters,
  };

  const parsed$ = schemas$.safeParse(
    input$,
    (value$) =>
      operations.GetEmbedAccessTokenRequest$outboundSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return parsed$;
  }
  const payload$ = parsed$.value;
  const body$ = null;

  const path$ = pathToFunc("/v1/workspace/embed-access-token")();

  const query$ = queryJoin$(
    encodeFormQuery$({
      "description": payload$.description,
      "duration": payload$.duration,
    }),
    encodeJSONQuery$({
      "filters": payload$.filters,
    }, { explode: false }),
  );

  const headers$ = new Headers({
    Accept: "application/json",
  });

  const security$ = await extractSecurity(client$.options$.security);
  const context = {
    operationID: "getEmbedAccessToken",
    oAuth2Scopes: [],
    securitySource: client$.options$.security,
  };
  const securitySettings$ = resolveGlobalSecurity(security$);

  const requestRes = client$.createRequest$(context, {
    security: securitySettings$,
    method: "GET",
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    timeoutMs: options?.timeoutMs || client$.options$.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return requestRes;
  }
  const request$ = requestRes.value;

  const doResult = await client$.do$(request$, {
    context,
    errorCodes: ["4XX", "5XX"],
    retryConfig: options?.retries
      || client$.options$.retryConfig,
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  });
  if (!doResult.ok) {
    return doResult;
  }
  const response = doResult.value;

  const responseFields$ = {
    HttpMeta: { Response: response, Request: request$ },
  };

  const [result$] = await m$.match<
    operations.GetEmbedAccessTokenResponse,
    | SDKError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    m$.json(200, operations.GetEmbedAccessTokenResponse$inboundSchema, {
      key: "EmbedAccessTokenResponse",
    }),
    m$.fail(["4XX", "5XX"]),
    m$.json("default", operations.GetEmbedAccessTokenResponse$inboundSchema, {
      key: "Error",
    }),
  )(response, request$, { extraFields: responseFields$ });
  if (!result$.ok) {
    return result$;
  }

  return result$;
}
